body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vh;
    height: 100vh;
}
p strong {
    color: brown;
}